@import "tailwindcss";
@import "pretendard/dist/web/static/pretendard-dynamic-subset.css";
@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource-variable/orbitron";

@theme {
	--font-sans: "Pretendard", sans-serif;
	--font-mono: "JetBrains Mono", monospace;
	--font-title: "Orbitron Variable", sans-serif;
}
