---
import BlogLayout from "../layouts/BlogLayout.astro";

---

<BlogLayout title="Temple's Hideout" description="Temple의 개발 관련 블로그입니다.">
	<div class="flex flex-col max-w-3xl mx-auto">
		<!-- Hero Section -->
		<div class="flex justify-between">
			<div class="w-[25%] aspect-square rounded-full bg-[url('https://avatars.githubusercontent.com/u/39640991?v=4')] bg-contain"></div>
			<div class="flex flex-col w-[60%] justify-center">
				<p class="text-2xl font-bold pb-4">Temple의 블로그입니다.</p>
				<p>Temple's Hideout에 오신 것을 환영합니다. 프로그래밍/개발에 관한 이야기를 담고 있습니다.</p>
			</div>
		</div>
	</div>
</BlogLayout>