---
---

<!doctype html>
<html lang="en">
	<body>
		<main>
			<h1>Welcome to My Astro Site</h1>
			<p>This is a simple example of an Astro page.</p>
			<p>Feel free to explore and learn more about Astro!</p>
		</main>
	</body>
</html>
