---
import { getCollection } from 'astro:content';
import BlogLayout from '../layouts/BlogLayout.astro';
import PostBox from '../components/PostBox.astro';

const allPosts = await getCollection('post');
const recentPosts = allPosts
	.filter((post) => import.meta.env.DEV || post.data.blind !== true)
	.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
	.slice(0, 10);
---

<BlogLayout
	title="Temple's Hideout"
	description="Temple의 개발 관련 블로그입니다."
>
	<!-- Hero Section -->
	<div class="flex flex-col sm:flex-row justify-between pb-20">
		<div
			class="w-32 sm:w-[25%] mb-8 mx-auto sm:mb-0 sm:mx-0 aspect-square rounded-full bg-[url('https://avatars.githubusercontent.com/u/39640991?v=4')] bg-contain bg-no-repeat"
		>
		</div>
		<div class="flex flex-col w-full sm:w-[60%] justify-center">
			<p class="text-2xl font-bold pb-4">Temple의 블로그입니다.</p>
			<p>
				Temple's Hideout에 오신 것을 환영합니다.<br />프로그래밍/개발에 관한 이야기를
				담고 있습니다.
			</p>
		</div>
	</div>
	<div class="flex justify-between items-center pb-8">
		<div class="text-2xl font-bold">최근 게시물</div>
		<div class="text-sm text-gray-500">
			<a href="/list/1">모든 게시물 보기 &gt;</a>
		</div>
	</div>

	<ul class="space-y-6">
		{recentPosts.map((post) => <PostBox post={post} />)}
	</ul>
</BlogLayout>
