---
import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const allPosts = await getCollection('post');
	return allPosts
		.filter((post) => import.meta.env.DEV || post.data.blind !== true)
		.map((post) => ({
			params: { id: post.id },
			props: { post },
		}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BlogLayout
	title=`Temple's Hideout - ${post.data.title}`
	description={post.data.description}
>
	<h1 class="text-4xl font-bold mb-4">{post.data.title}</h1>
	<p class="text-sm text-gray-600 mb-12">
		{post.data.pubDate.toLocaleDateString()}
	</p>
	<div
		class="prose max-w-none
		sm:prose-sm lg:prose-base
		prose-h1:pt-8
		prose-headings:pb-2 prose-headings:border-b-1 prose-headings:border-b-gray-200
		prose-a:no-underline prose-a:text-gray-500 prose-a:hover:underline
		prose-li:my-3 prose-ul:my-3 prose-ol:my-3
		prose-code:break-words prose-code:before:hidden prose-code:after:hidden prose-code:pr-1
		prose-table:block prose-table:overflow-x-auto
		prose-td:whitespace-nowrap
		prose-blockquote:font-light prose-blockquote:bg-gray-50 prose-blockquote:py-0.5 prose-blockquote:rounded-xl"
	>
		<Content />
	</div>
</BlogLayout>
