---
const year = new Date().getFullYear();
---

<footer>
  <div class="flex flex-col items-center border-t-gray-300 border-t-1 pt-16 pb-12 px-8 mt-32 text-xs lg:text-sm text-center text-gray-500">
    <p class="text-base lg:text-lg text-black pb-4">&copy; {year} DongYoung Kim. All rights reserved.</p>
    <p>
      All product names, logos, brands, trademarks and registered trademarks are property of their respective owners.</br>
      All company, product and service names used in this blog are for identification purposes only.</br>
      Use of these names, trademarks and brands does not imply endorsement.
    </p>
    <p class="pt-4">Thank you for visiting my blog. Your interest gives me a great strength.</p>
  </div>
</footer>