---
import type { CollectionEntry } from 'astro:content';

interface Props {
	post: CollectionEntry<'post'>;
}
const { post } = Astro.props as Props;
---

<li class="border border-gray-300 rounded-lg">
	<a class="p-6 block" href={`/post/${post.id}`}>
		<p class="text-xl font-semibold mb-2">{post.data.title}</p>
		<div class="mb-2">
			{
				post.data.tags
					.slice(0, 5)
					.map((tag) => (
						<span class="px-2 py-1 mr-2 text-xs text-gray-700 bg-slate-200 rounded-full">
							{tag}
						</span>
					))
			}
			{
				post.data.tags.length > 5 && (
					<span class="px-2 py-1 text-xs text-gray-500 bg-slate-100 rounded-full">
						...
					</span>
				)
			}
		</div>
		<p class="text-sm text-gray-600">
			{post.data.pubDate.toLocaleDateString()}
		</p>
	</a>
</li>
